spring:
  profiles:
    active: development
---
server:
  port: 8181
  contextPath: /uaa
security:
  user:
    password: password
  oauth2:
    client:
      client-id: acme
      access-token-uri: http://localhost:8181/uaa/oauth/token
      grant-type: client-credentials
      client-secret: acmesecret
      scope: openid
      client-authentication-scheme: header
  enable-csrf: false
logging.level.org.springframework.security: DEBUG
spring:
  profiles: development
  datasource:
    url: jdbc:mysql://${DOCKER_IP:192.168.99.100}:3306/dev
    username: root
    password: dbpass
    initialize: true
  zipkin:
    base-url: http://localhost:9411/
  sleuth:
    sampler:
      percentage: 1.0
security.ignored: /resources/**
---
server:
  port: 8181
  contextPath: /uaa
security:
  user:
    password: password
  enable-csrf: false
  oauth2:
    client:
      client-id: acme
      access-token-uri: http://localhost:8181/uaa/oauth/token
      grant-type: client-credentials
      client-secret: acmesecret
      scope: openid
      client-authentication-scheme: header
spring:
  profiles: docker
  datasource:
    url: jdbc:mysql://mysql:3306/dev
    username: root
    password: dbpass
    initialize: true
  zipkin:
    base-url: http://localhost:9411/
  sleuth:
    sampler:
      percentage: 1.0
security.ignored: /resources/**
eureka:
  instance:
    prefer-ip-address: true
    non-secure-port: 8181
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/
---
spring:
  profiles: test
  jpa:
    show_sql: false
    database: H2
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_ON_EXIT=FALSE
    initialize: true
security:
  oauth2:
    client:
      client-id: acme
      access-token-uri: http://localhost:8181/uaa/oauth/token
      grant-type: client-credentials
      client-secret: acmesecret
      scope: openid
      client-authentication-scheme: header
